@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Sorry!</h1>
<h2 class="text-danger">Something went wrong there. [generic error]</h2>
<h4>You can try going back to @Html.ActionLink("home page", "Index", "Home")</h4>

