@model IEnumerable<CapstoneProject.Models.AdminTime>

@{
    ViewBag.Title = "SolutionCalendar";
}




<meta charset="utf-8" />
<title>Solution Calendar</title>

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.rtl.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.mobile.all.min.css" />

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>

@*<div>
    @Html.AttributeEncode(Model.AdminDate)
    </div>*@


<h3>Here is the matching slots for your month of work.</h3>
<h4>To view more details you can double click on any dates you like.</h4>


@foreach (var dt in Model)
{
    <p>dt.AdminTime is @dt.AdminDate</p>



    @*<script>
            string test1 = "9/8/2014 08:00 AM";
        </script>*@

    <div id="scheduler"></div>
    <script>
        $("#scheduler").kendoScheduler({
            date: new Date("@dt.AdminDate.ToString()"), // So over ther I'm trying to pass in the admin time. the reson why it's not working is
            //because it wants me to pass in a string, I think, or at least some sort of date code. I'm trying to debug it and figure out the
            //exact problem, and then to find a way to sovle it.
            //Second that error is solved - our calendar is ready to be used, and then we just need to pass in the matchings in a loop, in the folowing code:
            selectable: true,
            views: ["month", "day"],
            dataSource: [
                {
                    id: 1,
                    start: new Date("2019/7/31 08:00 AM"),
                    end: new Date("2019/7/31 09:00 AM"),
                    title: "Interview"
                }
            ]
        });
    </script>

}
