@*@model IEnumerable<CapstoneProject.ViewModels.AvailabilityVM>*@
@model CapstoneProject.Models.Client

@{
    ViewBag.Title = "Solve";
}

<h2>Solve</h2>

<table class="table table-striped">
    <tr>
        <td>Client Test Name</td>
    </tr>
    @*@foreach (var item in Model)*@
    {
        <tr>
            @*<td>@item.ClientVm.FirstName</td>*@
            <td>item.FirstName</td>
        </tr>
    }
</table>

