@model List<List<List<CapstoneProject.Models.Client>>>

@{    
    ViewBag.Title = "Solve";
}

<h2>Solve</h2>

<table class="table table-striped">
    <tr>
        <td>Test</td>
    </tr>
        @foreach (var day in Model)
        {
            @*<tr>@day.First().First().AvailableFrom</tr>*@
            <td>NEW DAY</td>
            foreach (var groupList in day)
            { 
                for (int i = 0; i < groupList.Count; i++)
                {
                    <td>@groupList[i].FirstName</td>
                }

            }
        }
 
   





</table>

