@model List<List<List<CapstoneProject.Models.Client>>>

@{    
    ViewBag.Title = "Solve";
}

<h2>Solve</h2>

<table class="table table-striped">
    <tr>
        <td>Test</td>
    </tr>


</table>

