

<meta charset="utf-8" />
<title>Kendo UI Snippet</title>

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.rtl.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.mobile.all.min.css" />

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>

@model IEnumerable<CapstoneProject.Models.AdminTime>
    @using CapstoneProject.ViewModels

@{
    ViewBag.Title = "Test";
}

@foreach (var dt in Model)
{
    <div id="scheduler"></div>

    <script>
        $("#scheduler").kendoScheduler({
            date: @dt,
            selectable: true,
            views: ["day", "month"],
            dataSource: [
                {
                    id: 1,
                    start: new Date("2019/7/31 08:00 AM"),
                    end: new Date("2019/7/31 09:00 AM"),
                    title: "Interview"
                }
            ]
        });
    </script>
}
