@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    Compuskills school<br />
    Hatzvi 14 Jerusalem, Israel<br />
    For more details and rights permition please contact the school:
                               <abbr title="Phone">02.6541268</abbr>
</address>

<address>
    <strong>Email us:</strong>   <a href="mailto:info@compuskills.com">info@compuskills.com</a><br />
    <strong>Visit our schools website</strong> <a href="http://compuskills.com">www.compuskills.com</a>
</address>
