
@{
    ViewBag.Title = "Index";
}

<h2>Get Started</h2>

@*<p>@Html.ActionLink("Clients", "", "", new { href = "javascript:void(0)" })</p>*@

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Clients", "", "")</li>
        <li>@Html.ActionLink("Solution", "", "")</li>
        <li>@Html.ActionLink("Careers", "", "")</li>
    </ul>
</div>